# Node
node_modules
npm-debug.log
yarn-error.log

# Next.js build
.next
out

# Prisma
prisma/migrations

# TypeScript build
dist

# Git
.git
.gitignore

# IDE / local env
.vscode
.env
.env.local

# OS
.DS_Store
