.eyesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.rightEye,
.leftEye {
  background: white;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.ball {
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shut {
  width: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.shut span {
  display: block;
  width: 100%;
  background: black;
  border-radius: 0 0 50% 50%;
  transition: 0.3s all; /* smooth open/close */
}
